body {
    margin: 0;
    padding: 0;
    font-size: 13.5px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #919191;
    background-color: #232323;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: #612F74;
    background-color: #FFFFFF;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

figcaption,
figure,
footer,
header,
section {
    display: block;
    margin: 0;
    padding: 0;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

div.wrapper.content {
    color: #979797;
    background-color: #FFFFFF;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.size_quarter{
    display: block;
    float: left;
    margin: 0 20px 0 0;
    width: 225px;
}

.size_third {
    display: block;
    float: left;
    margin: 0 30px 0 0;
    width: 300px;
}

.lastbox {
    margin-right: 0;
}

#container {
    padding: 30px 0;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 0;
}

#container #mainpic figure img {
    float: right;
    width: 630px;
    height: 400px;
}

#container #mainpic figure figcaption {
    display: block;
    float: left;
    width: 280px;
    height: 360px;
    padding: 20px;
    overflow: hidden;
    color: #989898;
    background-color: #DEDEDE;
    line-height: 1.6em;
}

#container #mainpic figure figcaption a {
    color: #612F74;
    background-color: #DEDEDE;
}

#container #mainpic figure h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

#container #nubank {
    display: block;
    width: 100%;
    line-height: 1.6em;
}

#container #nubank #history article h2 {
    font-size: 14px;
    margin-bottom: 15px;
}

#container #nubank #history article p {
    margin: 0;
    padding: 0;
}

#container #nubank #history article img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    padding: 4px;
    border: 1px solid #DEDEDE;
}

#container #nubank #history article footer {
    margin: 10px 0 0 0;
}

#container #nubank #latestpic article figure img {
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}

#footer {
    padding: 20px 0;
}

#footer p {
    margin: 0;
    padding: 0;
}

#footer a {
    color: #919191;
    background-color: #232323;
}